/* Mapbox marker styles */
.marker {
  background-image: url('/img/pin.png');
  background-size: cover;
  width: 32px;
  height: 37px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}